#main {
  position: absolute;
  height: 100%;
  width: 100%;
}
.day {
  background: linear-gradient( #17a2b8, #ffffff);  
}
.night {
  background: linear-gradient(to bottom left, #4854a2, #3d3d3d);
  color: white;
}
li {
  list-style-type: none;
  position: relative;
  left: -25px;
  padding: 10px;
  font-weight: bold;
}
.input-container {
  position: relative;
}
input::placeholder {
  font-weight: bold;
 
}
.search {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 25px;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}
.title {
  font-size: 60px;
  font-weight: 500;
  padding: 20px;
}
.form-rounded {
  border-radius: 2rem;
}
.back-card {
  border-radius: 40px !important;
  color: white;
  background: linear-gradient(to bottom right, #707070, #434647);
}
.date {
  position: absolute;
  width: 100%;
  font-weight: bold;
}
.city-name {
  position: absolute;
  width: 100%;
}


.city-name p {
  font-weight: bold;
  font-size: 16pt;
}

.city-name span {
  position: relative;
  top: -50px;
  font-size: 40pt;
  font-family: "Times New Roman", Times, serif;
}

.temp span {
  font-weight: 500;
  font-size: 5em;
  letter-spacing: -5px;
  white-space: nowrap;
}
.my-4 {
  font-size: 18px;
  font-weight: bold;
}
.col-12{
  font-size: 15px;
  font-weight: bold;
}
.card-mid {
  line-height: 0.5;
}
.condition {
  font-size: 1em;
  font-weight: 700;
  line-height: 1em;
  text-transform: capitalize;
}

.high {
  font-size: 15px;
}

.low {
  font-size: 15px;
}

.card-bottom p {
  font-size: 50px;
  font-weight: 100;
  letter-spacing: -3px;
  font-weight:400;
}
.card-bottom {
  line-height: 0.5;
}

.card-bottom span {
  font-size: 14px;
  font-weight: 500;
}

.form-control:focus {
  box-shadow: none;
  border-color: inherit;
}
